/* Estilo del cuerpo del documento */
body {
  background-color: rgb(232, 232, 233);
}

/* Estilo de los encabezados h1 */
h1 {
  text-align: center;
  margin: 0 auto;
  color: blue;
  font-size: 50px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

/* Estilo del contenedor de botones */
.contendedor-boton {
  text-align: center;
}

/* Estilo del botón */
.boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
}

/* Estilo de las imágenes centradas */
.centrar-imagen {
  display: block;
  margin: 0 auto;
}

/* Estilo del menú */
.menu {
  display: flex;
  justify-content: center;
  background-color: #333;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.menu a:hover {
  background-color: #555;
}

/* Estilo del formulario */
.formulario {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 4px;
}

.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formulario .campo {
  margin-bottom: 20px;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-transform: uppercase;
}

.formulario button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4c56af;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #4577a0;
}

/* Estilo de la tabla profesional */
.tabla-profesional {
  width: 100%;
  border-collapse: collapse;
}

.tabla-profesional thead {
  background-color: #333;
  color: #fff;
}

.tabla-profesional th,
.tabla-profesional td {
  padding: 10px;
  border: 1px solid #ccc;
}

.tabla-profesional td img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.tabla-profesional iframe {
  display: block;
  margin: 0 auto;
}
